.MuiDataGrid-columnHeader[data-field="action"] .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    justify-content: center;
}

.MuiDataGrid-columnHeader[data-field="access"] .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    justify-content: center;
}  

  .banned {
    background-color: #f8d7da !important; /* Màu đỏ nhạt cho hàng bị ban */
    color: #000 !important; /* Đảm bảo văn bản dễ đọc */
  }

.action-column--cell{
    display: flex;
    justify-content: center !important;
    align-items: center;
}